doctype html
html
  head
    meta(charset='utf-8')
    title lab 2 rozklad
    link(rel='stylesheet', href='style.css')
  body
    header
      h1
        a(href='index.html') Личная станица (Блог) Славенко Марк Михайлович
    nav
      ul
        li
          a(href='index.html') Главная
        // <li><a href="rozklad.html">Расписание</a></li>
        li
          a(href='photo.html') Фото
        li
          a(href='news.html') Новости
    div
      h2 Мое расписание
      table(border='1')
        tbody
          tr
            th      
            th Понедельник
            th Вторник
            th Среда
            th Четверг
            th Пятница
          tr
            td 11:25
            td Практикум
            td Вариативная
            td Сложные системы
            td Вариативная
            td
          tr
            td 12:55
            td Java
            td Технологии и протоколы
            td Технологии и протоколы
            td Java
            td Вариативная
          tr
            td 14:30
            td
            td Практикум
            td Английский
            td Сложные системы
            td Численные методы
          tr
            td 16:05
            td
            td
            td
            td
            td Численные методы
    div
      h2 Преподаватели
      ul
        li Мухін В.В.
        li Горбенко В.І.
        li Лісняк А.О.
        li Кривохата А.Г.
        li Лебідь М.В.
        li Кудін О.В.
        li Левчук С.А.
    footer
      p Copyright 2019 Марк Славенко
