
   a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: black;
   } 
 img {
 	width: 250px;
 	height: 250px;
 }

 h3 {
 	margin-left: 90px;
 }

 html {
 	font: 12pt sans-serif; 
 }

 th {
 	background-color: #A4A6A5;
 }

 tr:nth-child(2n+1) {
 	background-color: #D2D5D3;
 }

 .photos p {
 	margin-left: 90px;
  margin-bottom: 45px;
 }

 .article {
 	margin-bottom: 50px;
 	background-color: #E6E7E2;
 	padding: 35px;
 }

 .article a {
 	color: blue;
 }

